<section>
  <div class="page-header">
    <h1>{{vm.schedule._id ? 'Edit Schedule' : 'New Schedule'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.scheduleForm" class="form-horizontal" ng-submit="vm.save(vm.form.scheduleForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.schedule.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.scheduleForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Schedule name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.schedule._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>

<div class="row" ng-controller="CalendarScheduleController">
  <div class="col-lg-12">
    <div ui-calendar="uiConfig.calendar" class="calendar" ng-model="eventSources"></div> 
  </div>
</div>

<br>
<br>
