<section>
  <div class="page-header">
    <h1>Schedules</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="schedule in vm.schedules"
       data-ui-sref="schedules.view({ scheduleId: schedule._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="schedule.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="schedule.user" data-ng-bind="schedule.user.displayName"></span>
        <span data-ng-if="!schedule.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="schedule.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.schedules.$resolved && !vm.schedules.length">
    No Schedules yet, why don't you <a data-ui-sref="schedules.create">create one</a>?
  </div>
</section>
