<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.schedule.name"></h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.schedule.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="schedules.edit({ scheduleId: vm.schedule._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.schedule.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.schedule.user"
            data-ng-bind="vm.schedule.user.displayName"></span>
      <span data-ng-if="!vm.schedule.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.schedule.content"></p>
</section>
