<section ng-controller="HomeController">
  <div class="jumbotron">
	  <h3>Things you can do:</h3>
	  <ul>
	  	<li>Create Exercises and Routines</li>
	  </ul>
	  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
	</div>
</section>
