<section>
  <div class="page-header">
    <h1>{{vm.exercise._id ? 'Edit Exercise' : 'New Exercise'}}</h1>
  </div>
  <div class="col-md-3">
    <form name="vm.form.exerciseForm" class="form-horizontal" ng-submit="vm.save(vm.form.exerciseForm.$valid)" novalidate>
      <fieldset>
        <!-- Exercise Name -->
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Exercise Name</label>
          <input name="name" type="text" ng-model="vm.exercise.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.exerciseForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Exercise name is required.</p>
          </div>
        </div>

        <!-- Exercise Type -->
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Exercise Type</label>
          <select class="form-control" id="exerciseTypeCheckBox" name="exerciseTypeCheckBox" ng-model="vm.exercise.workouttype" placeholder="Exercise Type" ng-options="exercise for exercise in vm.exerciseType" required>
            <option value="">-- Choose Exercise Type--</option>
          </select>
          <div ng-messages="vm.form.exerciseForm.workouttype.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Exercise Type is required.</p>
          </div>
        </div>

        <!-- Major Muscle -->
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Major Muscle Group</label>
          <select class="form-control" id="bodyPart" name="bodyPart" ng-model="vm.exercise.majormuscle" ng-options="muscle for muscle in vm.bodyParts">
            <option value="">-- Choose Body Part --</option>
          </select>
          <div ng-messages="vm.form.exerciseForm.majormuscle.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Body Part is required.</p>
          </div>
        </div>

        <!-- Minor Muscles -->
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Minor Muscles</label>
          <select multiple class="form-control" id="bodyPart" name="bodyPart" ng-model="vm.exercise.minormuscles" ng-click="vm.selected(vm.exercise.minormuscles)">
            <option ng-repeat="muscle in vm.bodyParts" value="{{muscle}}"> {{muscle}} </option>
          </select>
          <div ng-messages="vm.form.exerciseForm.minormuscles.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Body Part is required.</p>
          </div>
        </div>

        <!-- Number of Sets -->
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Number of Sets</label>
          <input name="numberofsets" type="number" ng-model="vm.exercise.numberofsets" id="numberofsets" class="form-control" placeholder="Number of Sets" required>          
          <div ng-messages="vm.form.exerciseForm.numberofsets.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Number of Sets is Req.</p>
          </div>
        </div>

        <!-- Number of Reps -->
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Number of Reps</label>
          <input name="numberofreps" type="number" ng-model="vm.exercise.numberofreps" id="numberofreps" class="form-control" placeholder="Number of Reps" required>          
          <div ng-messages="vm.form.exerciseForm.numberofreps.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Number of Reps is Req.</p>
          </div>
        </div>

        <!-- Explanation -->
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Explanation</label>
          <textarea name="explanation" type="text" row="3" ng-model="vm.exercise.explanation" id="explanation" class="form-control" placeholder="Short Explanation" required></textarea>          
          <div ng-messages="vm.form.exerciseForm.explanation.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Explanation is required!</p>
          </div>
        </div>

        <!-- Tips -->
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Tips</label>
          <textarea name="tips" type="text" row="3" ng-model="vm.exercise.tips" id="tips" class="form-control" placeholder="Things to keep in mind"></textarea>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.exercise._id ? 'Update' : 'Create'}}</button>
          <button type="reset" class="btn btn-default" ng-click="vm.reset()">Reset</button>
          <button class="btn btn-default" data-ui-sref="exercises.list">Cancel</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
  <!-- <div class="col-md-3">
  </div> -->
</section>
