<section>
  <div class="page-header">
    <h1>Exercises</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="exercise in vm.exercises"
       data-ui-sref="exercises.view({ exerciseId: exercise._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Created on
        <span data-ng-bind="exercise.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="exercise.user" data-ng-bind="exercise.user.displayName"></span>
        <span data-ng-if="!exercise.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="exercise.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.exercises.$resolved && !vm.exercises.length">
    No Exercises yet, why don't you <a data-ui-sref="exercises.create">create one</a>?
  </div>
</section>
