<section>
  <div class="pull-right"
       data-ng-show="vm.exercise.isCurrentUserOwner">
    <a class="btn btn-primary" data-ui-sref="exercises.list">
      <i class="glyphicon glyphicon-chevron-left"></i>
    </a>
    <a class="btn btn-primary"
       data-ui-sref="exercises.edit({ exerciseId: vm.exercise._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="page-header">
    <h1>Exercise Detail Page</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="list-group-item-heading" ng-bind="vm.exercise.name"></h2>
        </div>
        <div class="panel-body">
          <div>
            <label>Exercise Type:</label>
            <p ng-bind="vm.exercise.workouttype"></p>
          </div>
          <div>
            <label>Muscle Group:</label>
            <p ng-bind="vm.exercise.majormuscle"></p>
          </div>
          <div>
            <label>Minor Group:</label>
            <p ng-repeat="minormuscles in vm.exercise.minormuscles">{{minormuscles}}</p>
          </div>
          <div>
            <label>Number of Sets: </label>
            <p ng-bind="vm.exercise.numberofsets"></p>
          </div>
          <div>
            <label>Number of Reps:</label>
            <p ng-bind="vm.exercise.numberofreps"></p>
          </div>
          <div>
            <label>Explanation</label>
            <p ng-bind="vm.exercise.explanation"></p>
          </div>
          <div>
            <label>Tips</label>
            <p ng-bind="vm.exercise.tips"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <small>
    <em class="text-muted">
      Created on
      <span data-ng-bind="vm.exercise.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.exercise.user"
            data-ng-bind="vm.exercise.user.displayName"></span>
      <span data-ng-if="!vm.exercise.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.exercise.content"></p>
</section>
