<section>
  <div class="page-header">
    <h1>{{vm.routine._id ? 'Edit Routine' : 'New Routine'}}</h1>
  </div>
  <div class="col-md-8">
    <form name="vm.form.routineForm" class="form-horizontal" ng-submit="vm.save(vm.form.routineForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.routine.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.routineForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Routine name is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="exercises">Choose Your Exercises</label>
          <br>
          <div class="col-sm-6">
            <label>Available Exercises</label>
            <select multiple class="form-control" id="availableExercises" name="availableExercises" ng-model="vm.available" placeholder="Exercise Type" ng-options="exercise.name for exercise in vm.exerciseType">
            </select>  
          </div>
          <div class="col-sm-6">
            <label>Picked Exercises</label>
            <select multiple class="form-control" id="pickedExercises" name="pickedExercises" ng-model="vm.selected" ng-options="exercise.name for exercise in vm.routine.exercise">
            </select>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-default" ng-click="vm.moveAll(vm.exerciseType, vm.routine.exercise)">Add All Exercises</button>
          <button type="button" class="btn btn-default" ng-click="vm.moveItem(vm.available, vm.exerciseType, vm.routine.exercise)">Add Exercise</button>
          <button type="button" class="btn btn-default" ng-click="vm.moveItem(vm.selected, vm.routine.exercise, vm.exerciseType)">Remove Exercise</button>
          <button type="button" class="btn btn-default" ng-click="vm.moveAll(vm.routine.exercise, vm.exerciseType)">Remove All Exercises</button>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.routine._id ? 'Update' : 'Create'}}</button>
          <button class="btn btn-default" data-ui-sref="routines.list">Cancel</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="col-md-4">
  {{vm.routine.exercises | json}}
  </div>
</section>
