<section>
  <div class="page-header">
    <h1>Routines</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="routine in vm.routines"
       data-ui-sref="routines.view({ routineId: routine._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="routine.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="routine.user" data-ng-bind="routine.user.displayName"></span>
        <span data-ng-if="!routine.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="routine.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.routines.$resolved && !vm.routines.length">
    No Routines yet, why don't you <a data-ui-sref="routines.create">create one</a>?
  </div>
</section>
