<section>
  <div class="pull-right"
       data-ng-show="vm.routine.isCurrentUserOwner">
    <a class="btn btn-primary" data-ui-sref="routines.list">
      <i class="glyphicon glyphicon-chevron-left"></i>
    </a>
    <a class="btn btn-primary"
       data-ui-sref="routines.edit({ routineId: vm.routine._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="page-header">
    <h1 data-ng-bind="vm.routine.name"></h1>
  </div>
  <h3>Exercises:</h3>
  <table class="table table-hover">
    <tr>
      <th>Name:</th>
      <th>Exercise Type:</th>
      <th>Muscle Group (Major)</th>
      <th>Muscle Group (Minor)</th>
      <th>See Explanation</th>
      <th>See Tips!</th>
    </tr>
    <tr ng-repeat="exercise in vm.routine.exercise track by exercise._id">
      <td><a data-ui-sref="exercises.view({ exerciseId: exercise._id })">{{exercise.name}}</a></td>
      <td ng-bind="exercise.workouttype"></td>
      <td ng-bind="exercise.majormuscle"></td>
      <td>
        <ul class="list-inline">
          <li ng-repeat="minorMuscle in exercise.minormuscles">- {{minorMuscle}}</li>
        </ul>
      </td>
      <td ng-bind="exercise.explanation"></td>
      <td ng-bind="exercise.tips"></td>
    </tr>
  </table>

  <small>
    <em class="text-muted">
      Routine created on
      <span data-ng-bind="vm.routine.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.routine.user"
            data-ng-bind="vm.routine.user.displayName"></span>
      <span data-ng-if="!vm.routine.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.routine.content"></p>
</section>
